# Ignore virtual environments
venv/

# Python cache
__pycache__/
*.pyc

# Data and outputs
*.csv
*.png

# VSCode settings (optional)
.vscode/

# Jupyter Notebook checkpoints (optional)
.ipynb_checkpoints/
